[run]
branch = true

# This is not as helpful as it may seem, because the parent directory is
# likely also named ZConfig, so this matches things like
# /path/to/ZConfig/.tox/py*/lib/*
source = ZConfig

# datatypes.py is dynamically-created in a temporary directory and then
# removed, which makes coverage reporting unhappy.
omit =
  */datatypes.py
  .tox/*
  ZConfig/components/basic/tests/*
  ZConfig/components/logger/tests/*
  ZConfig/tests/*

[report]
# Coverage is run on Py2 and Py3
# on POSIX platforms, so omit Windows-specific
# things. Omit the main methods of test files.
exclude_lines =
    pragma: no cover
    class Win32
    if os.name == 'nt':
    if os.name == "nt":
    if sys.platform == 'win32':
    if sys.platform\[:3\] == "win":
    if __name__ == "__main__":
    if __name__ == '__main__':
precision = 1
