*.pyc
*.egg-info
__pycache__
.cache/
.tox/
.installed.cfg
bin/
develop-eggs/
eggs/
parts/
doc/_build
htmlcov/
.coverage
coverage.xml
nosetests.xml

# No / at the end of htmlcov so it can be a symlink that points to some
# more interesting location (possibly served by a webserver).
#
/htmlcov
