*.pyc
/.cache/
/.tox/
/build/
/dist/
/doc/_build
ZConfig.egg-info
__pycache__/
nosetests.xml

# Buildout
#
/.installed.cfg
/bin/
/develop-eggs/
/eggs/
/parts/

# Coverage
#
# No / at the end of htmlcov so it can be a symlink that points to some
# more interesting location (possibly served by a webserver).
#
/.coverage
/.coverage.*
/coverage.xml
/htmlcov
