language: python
sudo: false
python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - 3.6
    - pypy-5.6.0
    - pypy3.3-5.2-alpha1
install:
    - pip install -U pip setuptools
    - pip install -U coverage coveralls
    - pip install -U -e .[test]
script:
    - coverage run setup.py -q test -q
notifications:
    email: false
after_success:
    - coveralls

cache: pip
before_cache:
    - rm -f $HOME/.cache/pip/log/debug.log
