[buildout]
develop = .
parts = nosetests test py pytest
prefer-final = true

[nosetests]
recipe = zc.recipe.egg
eggs = nose
scripts = nosetests

[pytest]
recipe = zc.recipe.egg
eggs = pytest
scripts = py.test

[test]
recipe = zc.recipe.testrunner
eggs = ZConfig
defaults = ['-1']

[py]
recipe = zc.recipe.egg
eggs = ZConfig
interpreter = py
