[buildout]
develop = .
parts = nosetests test
prefer-final = true

[nosetests]
recipe = zc.recipe.egg
eggs = nose
scripts = nosetests

[test]
recipe = zc.recipe.testrunner
eggs = ZConfig
defaults = ['-1']
